#home {
  .top-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 2rem;
    column-gap: 0.5rem;

    .left,
    .right,
    .center {
      img {
        border-radius: 15px;
        align-self: center;
        margin: 0 0 0.5rem 0;
      }

      .img-side {
        margin: 0 0 1rem 0;
      }
    }

    .left {
      margin-left: 0;
    }

    .right {
      margin-right: 0;
    }

    .center {
      img {
        object-fit: contain;
        object-position: center;
      }
    }
  }
  .body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 10rem;

    .product-item {
      background: #ffffff;
      margin: 2rem 0.3rem;
      margin-bottom: 0;
      border-radius: 10px;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 0 5px var(--cyanBlue);
      }

      &:hover button {
        visibility: visible;
      }

      .centered-content {
        cursor: pointer;

        .image-container {
          height: 15rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-bottom: 1rem;
            width: 100%;
            position: relative;
            object-position: bottom;
            object-fit: contain;
            max-height: 100%;
          }
        }

        .product-name {
          text-align: left;
          margin-left: 0.5rem;
        }

        .product-description {
          font-size: 14px;
          text-align: left;
          margin: 0.3rem 0 0.5rem 0.5rem;
          height: 2rem;
          opacity: 0.7;
        }

        .price {
          h4 {
            font-size: 16px;
            font-weight: 700;
            text-align: left;
            margin-left: 0.5rem;
            margin-bottom: 1rem;
          }
        }
      }
      button {
        visibility: hidden;
        align-items: center;
        margin: auto;
        background: var(--cyanBlue);
        border-radius: 5px;
        padding: 0.5rem 2rem;
        margin-bottom: 1rem;
        transition: all 0.3s;

        span {
          margin-left: 0.5rem;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
