@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

:root {
  --primaryFont: "Avenir", Helvetica, Arial, sans-serif;
  --cyanBlue: #102a55;
  --lightAshColor: #dde2e9;
  --whiteColor: #ffffff;
  --overLay: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primaryFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--cyanBlue);
  background: #e8effa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  border: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

input,
select,
textarea {
  outline: none;
  border: none;
  resize: none;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  border: none;
  color: #ffffff;
  background: transparent;
  outline: none;
  cursor: pointer;
}

ul,
li,
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

#topnav {
  background: var(--cyanBlue);

  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--whiteColor);
    padding: 0.5rem 0rem;

    // reduce padding when doing responsivenes

    .logo {
      .link {
        flex: 0.3;
        display: flex;
        align-items: center;
        font-family: "Patrick Hand SC", cursive;
      }
    }

    .form {
      flex: 1;
      display: flex;
      justify-content: center;

      input {
        width: 80%;
        font-size: 1rem;
        color: var(--cyanBlue);
        padding: 0.7rem 0.5rem;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      button {
        color: var(--cyanBlue);
        background: #99b8e9;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0rem 1rem 0 0.7rem;
      }
    }

    .links {
      display: flex;
      align-items: center;

      ul {
        display: flex;
        margin: 0 1rem;

        &:last-child {
          margin-right: 0;
          margin-left: 0;
        }

        li {
          margin: 0 0.5rem;
          cursor: pointer;
        }

        .cart-btn {
          display: flex;
          align-items: center;
          border: 1px solid #ffffff;
          border-radius: 5px;
          padding: 0.5rem 2rem;

          img {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  .category-nav {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    color: var(--cyanBlue);
    background: #99b8e9;
    padding: 1rem 0rem;

    .links {
      width: 100%;
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;

        &:last-child {
          width: 80%;
          justify-content: space-between;
        }

        li {
          display: flex;
          align-items: center;

          &:last-child {
            margin-right: 0;
          }

          img {
            margin-left: 0.3rem;
          }
        }
      }
    }
  }
}

.loader {
  display: flex;
  border: 2px solid #ffffff;
  border-top: 2px solid rgba(101, 172, 77, 0.3);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
